.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: grey;
    border-color: black;
}

.margin-top-20px {
  margin-top: 20px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

svg {
    font-family: Sans-Serif, Arial;
}

.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}
