<div class="col-md-12">
  <div class="col-md-3 margin-top-20px float-left">
    <div class="card">
      <div class="card-body">
        <form #shForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="stockName">Stock Code</label>
            <input #stockName="ngModel" [(ngModel)]="stock.stockName" class="form-control"
                   id="stockName"
                   name="stockName"
                   required
                   type="text">
            <div [hidden]="stockName.valid || stockName.pristine"
                 class="alert alert-danger">
              Stock name is required
            </div>
          </div>

          <div class="form-group">
            <label for="stockStartDate">Start Date</label>
            <input #stockStartDate="ngModel" [(ngModel)]="stock.startDate"
                   [minDate]="minDate"
                   [maxDate]="maxDate"
                   bsDatepicker
                   name="startDate"
                   class="form-control"
                   required
                   id="stockStartDate" type="text">
            <div [hidden]="stockStartDate.valid || stockStartDate.pristine"
                 class="alert alert-danger">
              Start Date is required
            </div>
          </div>

          <div class="form-group">
            <label for="stockEndDate">End Date</label>
            <input #stockEndDate="ngModel" [(ngModel)]="stock.endDate"
                   [minDate]="minDate"
                   [maxDate]="maxDate"
                   bsDatepicker
                   name="endDate"
                   class="form-control"
                   required
                   id="stockEndDate" type="text">
            <div [hidden]="stockEndDate.valid || stockEndDate.pristine"
                 class="alert alert-danger">
              End Date is required
            </div>
          </div>

          <button [disabled]="!shForm.form.valid" class="btn btn-success" type="submit">Submit</button>
          <div class="text-danger" *ngIf="!isValidDate">{{error}}</div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-9 margin-top-20px float-right">
    <div class="card">
      <div class="card-body">
        My graph goes here
        <div id="chart" class="margin-top-20px"></div>
      </div>
    </div>
  </div>
</div>
